<!DOCTYPE html>
<html>
<head>
	<title>caca</title>
</head>
<body>
	<div id="a">



<h1>{{ingresar}}</h1>
<form action="" method="get">

<template v-for="curso in cursos">
	<input v-model="curso" type="text" v-bind:id="curso.value" placeholder="ingresas nombre" >
	<input v-model="curso" type="checkbox"  v-bind:id="curso.value" v-bind:value="curso.value">
    <label v-bind:for="curso.value">{{curso.nombre}}</label>

</template>

<input type="submit"  value="aceptar">

</form>


	</div>
	
<script src="https://unpkg.com/vue"></script>	
<script type="text/javascript">
	let a=new Vue({
	el:'#a',
	data:{
		
		 ingresar:'curso selecionados',
		 cursos:[{value:'nom'},{nombre:'uno',value:'uno'},{value:'nom2'},{nombre:'dos',value:'dos'}]
	
	}

	

	
	
	})



</script>
</body>
</html>