<!DOCTYPE html>
<html>
<head>
	<title>scrit vue.js</title>
</head>
<body>
<div id="hol">
<template v-if="falso">
<h1>caca master 2</h1>	
</template>	
<template v-if="falso">
<h2 >caca master</h2>
</template>

hola :v {{muu}}
<a v-if="falso":href="url">{{as}}</a>
</div>
<script src="https://unpkg.com/vue"></script>
<script type="text/javascript">
let hol = new Vue({
el:'#hol',
data:{
muu: 'hetttttttttt',
url:'https://www.youtube.com/watch?v=-6rvuDA0XP4&list=PLtfx2ncino2SUM9pKbZ6DlKSygSmna8jU&index=21'
,as:'caca:v',
falso:false
}
})	

</script>



</body>
</html>