<!DOCTYPE html>
<html>
<head>
	<title>scrit vue.js</title>
</head>
<body>


<div id="hol">
<div>
	<input type="text" name="id" placeholder="ingrese su id"  v-bind:value="nombre">
<p> tu nombre en mayuscula es {{ nombre | gaga}}</p>
</div>	
<button v-on:click="sumar">sumar 1</button>
<button v-on:click="restar">restar 1</button>
el contador esta nada {{contador}}	
<template v-if="falso">
<h1>{{caca2 | gaga}}</h1>	
</template>	
<template v-if="falso">
<h2 >{{caca1 | gaga2}}</h2>
</template>
<div v-show="falso">
adios	
</div>

<div v-show="!falso">
hola	
</div>
hola :v {{muu}}
<a v-if="falso":href="url">{{as}}</a>
</div>
<script src="https://unpkg.com/vue"></script>
<script type="text/javascript">
let hol = new Vue({
el:'#hol',
data:{
nombre: '',	
caca1: 'holla muDndo queF esta podrido',
caca2: 'hoHa coKdorniz que pasLeaen pradera',
muu: 'hetttttttttt',
url:'https://www.youtube.com/watch?v=-6rvuDA0XP4&list=PLtfx2ncino2SUM9pKbZ6DlKSygSmna8jU&index=21'
,as:'caca:v',
falso:true,
contador: 0
},filters:{
gaga: function(str){
return str.toUpperCase()
},

gaga2: function(str){
return str.toLowerCase()
}

},
methods: {
sumar: function(){
this.contador++
},

restar: function(){
this.contador--
}

}

})	

</script>



</body>
</html>